<p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1><strong>本当に退会しますか？</strong></h1>
      <p>     退会すると、会員登録情報や</p>
      <p>  これまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>


   <div class = "row">
      <div class = "col-md-3" >
        <%= link_to "退会しない", customers_my_page_path, class:"btn btn-sm btn-success" %>
      </div>

      <div class = "col-md-3" >
         <%= link_to "退会する", customers_withdraw_path, method: :patch, class:"btn btn-sm btn-danger" %>
      </div>
    </div>

    </div>
  </div>
</div>